#i1_1{
    position: absolute;
width: 699px;
height: 179px;
left: 720px;
top: 208px;
}

#i1_2 {
    position: absolute;
width: 511px;
height: 60px;
left: 720px;
top: 422px;

}

#i1_3 {
    position: absolute;
width: 511px;
height: 60px;
left: 720px;
top: 504px;

}