#ot_1{
    position: absolute;
width: 274px;
height: 82px;
left: 630px;
top: 231px;
}

#ot_2 {
    position: absolute;
width: 885px;
height: 58px;
left: 460px;
top: 534px;
}

#ot_3 {
    position: absolute;
width: 1174px;
height: 105px;
left: 119px;
top: 505px;

background: #F3F3F3;
}

#ot_4{
    position: absolute;
    width: 1253px;
    height: 955px;
    left: 119px;
    top: 643px;
    
}

#ot_5 {
    position: absolute;
    width: 259px;
    height: 268px;
    left: 138px;
    top: 1195px;
}

#ot_6{
    position: absolute;
    width: 201px;
    height: 87px;
    left: 138px;
    top: 1484px;
}

#ot_7 {
    
position: absolute;
width: 1440px;
height: 92px;
left: 0px;
top: 2142px;

background: #DAF1FF;
}

#ot_8 {
    position: absolute;
    width: 210px;
    height: 70px;
    left: 81px;
    top: 2148px;
    
}

#ot_9 {
    position: absolute;
width: 323px;
height: 29px;
left: 559px;
top: 2174px;
}

#ot_10 {
    position: absolute;
width: 263px;
height: 29px;
left: 1084px;
top: 2173px;
}