#g1_1{
    position: absolute;
width: 1440px;
height: 1016px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #204458 0%, rgba(32, 68, 88, 0.12) 172.93%);
}

#g1_2 {
    position: absolute;
width: 337px;
height: 454px;
left: 169px;
top: 377px;

background: #FFFFFF;

border-radius: 7px;
}

#g1_21 {
    position: absolute;
left: 16.32%;
right: 69.44%;
top: 394px;
bottom: 59.06%;


}

#g1_22 {
    position: absolute;
left: 235px;
right: 69.44%;
top: 394px;
bottom: 59.06%;

font-family: Sarabun;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #000000;

}

#g1_23 {
   
position: absolute;
width: 84px;
height: 68px;
left: 290px;
top: 429px;


}

#g1_24 {
    position: absolute;
width: 120.92px;
height: 52px;
left: 207px;
top: 519px;


}

#g1_25 {
    position: absolute;
    width: 120.92px;
    height: 52px;
    left: 272px;
    top: 684px;
    
  
}

#g1_26 {
    position: absolute;
width: 269px;
height: 49px;
left: 203px;
top: 750px;


}

#g1_3 {
    position: absolute;
width: 367px;
height: 527px;
left: 537px;
top: 352px;

background: #FFFFFF;

border-radius: 7px;
}

#g1_32 {
    
position: absolute;
left: 670px;
right: 609px;
top: 375px;
bottom: 619px;

font-family: Sarabun;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #000000;


}

#g1_33 {
    position: absolute;
width: 84px;
height: 68px;
left: 673px;
top: 429px;


}

#g1_34 {
    position: absolute;
left: 610px;
top: 544px;


}

#g1_35 {
    position: absolute;
width: 103px;
height: 52px;
left: 669px;
top: 695px;
}

#g1_36 {
    
position: absolute;
width: 13px;
height: 24px;
left: 650px;
top: 706px;
}

#g1_37 {
    position: absolute;
width: 269px;
height: 49px;
left: 586px;
top: 793px;


}

#g1_38 {
    position: absolute;
width: 337px;
height: 454px;
left: 935px;
top: 377px;

background: #FFFFFF;

border-radius: 7px;
}

#g1_39 {
    position: absolute;
width: 84px;
height: 68px;
left: 1056px;
top: 429px;


}

#g1_40 {
    position: absolute;
left: 1001px;
right: 16.25%;
top: 394px;
bottom: 59.06%;
}

#g1_41 {
    position: absolute;
left: 980px;
top: 533px;

}

#g1_42 {
    position: absolute;
    width: 117.92px;
    height: 52px;
    left: 1034px;
    top: 684px;
    
  

}

#g1_43 {
    position: absolute;
width: 269px;
height: 49px;
left: 969px;
top: 755px;


}

#g1_44 {
    position: absolute;
width: 367px;
height: 51px;
left: 537px;
top: 230px;
}